/* import google fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@1,600&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: poppins;
}